{{#each this}}
  <div class='card'>
    <div class='wrapper--flex'>

      <div class='description'>
        <h2 class='card-name'>{{name}} : {{nativeName}}</h2>
        <p class='text'>Capital: <span class='text-wrapper'>{{capital}}</span></p>
        <p class='text'>Region: <span class='text-wrapper'>{{region}}</span></p>
        <p class='text'>Subregion: <span class='text-wrapper'>{{subregion}}</span></p>
        <p class='text'>Population: <span class='text-wrapper'>{{population}}</span></p>
        <p class='text'>Timezones:
          {{#each timezones}}
            <span class='text-wrapper text__timezones'>{{this}}</span>
          {{/each}}</p>
        <p class='text'><b>Languages:</b></p>

        <ul class='language'>
          {{#each languages}}
            <li class='item'>{{name}}</li>
          {{/each}}
        </ul>
      </div>
      <div class='wrap'>
        <img src='{{flag}}' alt='{{name}}' width='500' height='300' /></div>
    </div>

  </div>
{{/each}}